@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Space+Mono&display=swap");

.container {
  height: 500px;
  background-color: #006daa;
  display: flex;
  /* gap: 500px; */
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
  /* align-items: center; */
}

.content {
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  color: white;
  /* Limelight */
  /* space mono */
}
.content p {
  font-size: 25px;
  font-family: "Limelight", cursive;
}

.logo {
  display: flex;
}

#simple {
  font-family: "Space Mono", monospace;
  /* font-weight: bold; */
  font-size: 25px;
}
