.container {
  display: flex;
  flex-direction: column;
}

/* posts */
.postContainer {
  background-color: #006daa;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  padding-inline: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}
